html,
body.edo,
pre,
xmp {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  width: 100% !important;
  height: 100% !important;
  font-size: 17px;
  -webkit-text-size-adjust: none;
  font: -apple-system-body;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  -webkit-nbsp-mode: space !important;
  -webkit-tap-highlight-color: transparent !important;
}

html,
body {
  overflow: hidden;
}

#edo-container {
  box-sizing: border-box;
  width: 100% !important;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  .yearBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 6px;
  }

  .monthBox {
    margin-top: 30px;
    overflow: hidden;

    &:active {
      filter: opacity(20%);
    }

    svg {
      pointer-events: none;
      user-select: none;
      -webkit-user-select: none;
      transform-origin: 0% 0%;
    }
  }
}
